@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');


.about-container {
    border: 1px solid white;
    margin: 5rem 15rem;
}

.feature {
    font-family: 'Monsterrat', sans-serif;
    font-size: 1.5rem;
    color: #00adb5;
    margin: 15px 40px;
}

.mini-heading {
    font-family: 'Monsterrat', sans-serif;
    font-size: 2rem;
    margin: 15px 30px ;
    color: #da7f8f;
}

.big-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    margin: 40px;
    color: #126e82;
}