@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.congrats {
    margin-top: 10%;
    margin-bottom: 20px;
    text-align: center;
}

.fstats {
    font-family: 'Monsterrat', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
    color: #00adb5;
}